@charset "UTF-8";

/* color */
$main-color: #e1c959;
$base-color: #574600;
$text-color: #666666;

/* 1.breakpoint */
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1100px)',
  'xl': 'screen and (max-width: 1600px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// @include mq(){}
// @include mq(sm){}
// @include mq(lg){}

/*
/ 共通パーツ--------------------------------------------- /
*/
* {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.c-wrapper{
  @include mq(){
    padding-right: 2rem!important;
    padding-left: 2rem!important;
  }
}
/* フッター */
#section-1{
  background-color: $main-color;
  .c-wrapper{
    max-width: 100%;
  }
  .p-footer__inner{
    padding: 20px;
    font-size: 1rem;
    @include mq(){
      padding: 20px 0;
    }
    strong{
      color: $base-color;
      font-weight: normal;
      letter-spacing: .1rem;
    }
  }
  [data-structure="e-text"]>span{
    font-weight: 400;
  }
}
