@charset "UTF-8";
@import "_common";

/* 1.breakpoint */
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 680px)',
  'lg': 'screen and (max-width: 1100px)',
  'xl': 'screen and (max-width: 1600px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// @include mq(){}
// @include mq(sm){}
// @include mq(lg){}

/*================================================
template_1-1 nav [data-block-name="左画像+右メニュー（上部固定）"]
================================================*/
[data-block-name="左画像+右メニュー（上部固定）"] { font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif; font-weight: bold; background-color: rgba(255, 255, 255, 0); }
[data-block-name="左画像+右メニュー（上部固定）"] .grid-wrapper--lg { max-width: 100%; }
[data-block-name="左画像+右メニュー（上部固定）"] .p-header, [data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigation { background-color: rgba(0, 0, 0, 0); }
[data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigationMenu li + li{margin-left: 0;}
@media screen and (max-width: 680px) { [data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigation { background-color: rgba(255, 255, 255, 0.8); } }
[data-block-name="左画像+右メニュー（上部固定）"] .p-navigation .c-inner { padding: 10px 0; }
@media screen and (max-width: 680px) { [data-block-name="左画像+右メニュー（上部固定）"] li { margin-right: 0; } }
[data-block-name="左画像+右メニュー（上部固定）"] li a { text-decoration: none; transition: all .3s; padding: 20px; border-left: 1px solid #f3f3f3; }
@media screen and (max-width: 680px) { [data-block-name="左画像+右メニュー（上部固定）"] li a { padding: 20px; border-left: none; } }
[data-block-name="左画像+右メニュー（上部固定）"] li a:hover { background-color: #ece5c7; text-decoration: none; }
@media screen and (min-width: 681px) { [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a { padding: 10px 20px; border-right: 1px solid #fff; background-color: #cc9c00; text-decoration: auto; border-radius: 30px; color: #fff; font-size: 16px; transition: all .3s; }
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a:hover { opacity: .5; } }
@media screen and (max-width: 680px) { [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a { background-color: #cc9c00; color: #fff; } }
@media screen and (min-width: 681px) { [data-block-name="左画像+右メニュー（上部固定）"].header_scrollset { background-color: rgba(255, 255, 255, 0.6); } }
@media screen and (min-width: 768px) and (max-width: 1166px) { .p-m_navigationMenu li a { padding: 3px .8vw; font-size: 1.4vw; }
  .p-header__logo > img { max-height: 35px; }
  .m_navigationMenu { padding-right: 10vw; }
  .p-m_navigationMenu li:last-of-type a { padding: 1.2vw; } }
  @media only screen and (min-width: 1px) and (max-width: 480px){
  .p-header__logo > a > img, .p-header__logo > img {max-height: 34px;}
  }
  @media only screen and (min-width: 1px) and (max-width: 480px){.p-header__logo > a > img, .p-header__logo > img {max-height: 34px;}}
  @media only screen and (min-width: 1px) and (max-width: 768px){.p-header__nav-heading {padding: 0;}}

/* TOPページ編集--------------------------------------------- */
/* h1タグ部分 */
#section-4{
  h1{
    color: white;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing: .15rem;
    margin-top: 10px;
    margin-left: 20px;
    @include mq(){
      font-size: 10px;
    }
  }
  .c-wrapper{
    margin-left: 20px;
  }
  .c-inner--lg{
    padding: 20px 40px 20px;
    @include mq(){
      padding: 40px 40px 20px;
    }
  }
}

/* メインビジュアル */
#section-2{
  margin-top: -32px;
  .c-bg-img{
    height: 305px;
  }
  .c-heading--bdr-btm{
    border-bottom: none;
  }
  .p-heading__inner{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .c-bg-img{
    position: relative;
    z-index: -1;
  }
  .c-wrapper{
    z-index: 0;
  }
  h2{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 0.09em;
    font-weight: bold;
    @include mq(){
      top: 55%;
    }
  }
  [data-custom-pc-fontsize="32px"]span:first-of-type{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  [data-custom-pc-fontsize="18px"]{
    font-family: noto-sans-cjk-jp, sans-serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing: .15rem;
  }
  h2>div{
    line-height: 35px;
  }
}

/* ぐいっと×ペライチ */
#section-6{
  [data-structure="e-text"]{
    font-family: noto-sans-cjk-jp, sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  .c-wrapper--no-gutter{
    @include mq(){
      width: auto;
    }
  }
}
/* 各LP画像 */
#section-3{
  .col-xs-12{
    display: flex;
    justify-content: space-between;
  }
  [data-structure="m-card"]{
    flex-direction: column;
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
  }
  .c-inner--lg{
    max-width: 1450px;
    padding: 20px 0px 20px;
    @include mq(){
      padding: 10px 0px 20px;
    }
  }
  .c-bg-img--cover{
    background-size: 100% 100vh!important;
    background-repeat: repeat!important;
  }
  .c-wrapper{
    @include mq(){
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }
  .c-img--responsive{
    position: relative;
    &:hover:after,&:hover:before{
      position: absolute;
      transition: all .3s;
    }
    &:hover:after{
      content: 'View More';
      font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      letter-spacing: 0.09em;
      font-weight: bold;
      padding: 5px 25px;
      top: 50%;
      left: 50%;
      color: #fff;
      border: 1px solid #fff;
      z-index: 11;
      transform: translate3d(-50%,-50%,0);
      @include mq(){
        line-height: 18px;
      }
    }
    &:hover:before{
      background: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      content: '';
    }
    &:hover img{
      z-index: 2;
      opacity: 0.6;
    }
  }
  .c-img--responsive img{
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 100% 0;
    @include mq(){
      object-fit: contain;
      height: auto;
    }
  }
  .center-xs{
    justify-content: flex-start!important;
  }
  .c-heading--sm{
    padding: 25px 10px 0 10px;
    margin-top: -10px;
    @include mq(){
      padding: 25px 10px 0 10px;
    }
  }
  .u-mbmd{
    &:nth-of-type(2){
      .c-heading--sm{
        padding: 25px 10px 54px 10px;
        @include mq(){
          padding: 25px 10px 20px 10px
        }
      }
    }
    &:nth-of-type(14){
      .c-heading--sm{
        padding: 25px 10px 54px 10px;
        @include mq(){
          padding: 25px 10px 20px 10px
        }
      }
    }
  }
  [data-custom-pc-fontsize="14px"]{
    font-weight: bold;
  }
  [data-custom-pc-fontsize="14px"]>a{
    line-height: 30px;
  }
  .u-mbsm{
    margin-bottom:0;
    @include mq(){
      min-height: 65px;
    }
  }
  .u-mbmd{
    margin-bottom:20px;
  }
  .c-btn{
    padding: 8px 10px 20px 10px;
    // margin-bottom: 20px;
    margin-top: auto;
    @include mq(){
      margin-bottom: 0px;
    }
  }
  .u-mbmd{
    &:nth-of-type(2){
      .c-btn{
        padding: 0px;
        margin-bottom: 0px;
      }
    }
    &:nth-of-type(14){
      .c-btn{
        padding: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .center-xs{
    text-align: left;
  }
  .c-btn--sm a{
    border-radius: 20px;
    background-color: #ecebe3!important;
    color:#4d4d4d;
    font-weight: bold;
    position: relative;
    padding: 0.8em 2.8em 0.8em 1.8em;
    @include mq(){
      padding: 0.8em 3em 0.8em 1.8em;
    }
  }
  .c-btn--sm a:after{
    position: absolute;
    content: url(https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/5cef2a43-42a0-45a3-8097-24750a0000fe/img/5f28fb0f3bac0/original.png);
    top: 29%;
    right: 2%;
    z-index: 1;
    width: 30%;
    @include mq(){
      top: 28%;
      right: 1%;
    }
  }
  .u-mbmd{
    &:nth-of-type(2){
      .c-btn--sm a{
        display: none;
      }
    }
    &:nth-of-type(14){
      .c-btn--sm a{
        display: none;
      }
    }
  }
  .col-xs-12{
    @include mq(){
      flex-basis: 50%;
    }
  }
  .row-item-gutter--lg > [class*='col-']{
    @include mq(){
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .row-item-gutter--lg{
    @include mq(){
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }
  .grid-wrapper--full{
    @include mq(){
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}
