@charset "UTF-8";
/* color */
/* 1.breakpoint */
/*
/ 共通パーツ--------------------------------------------- /
*/
* {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

@media screen and (max-width: 768px) {
  .c-wrapper {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

/* フッター */
#section-1 {
  background-color: #e1c959;
}

#section-1 .c-wrapper {
  max-width: 100%;
}

#section-1 .p-footer__inner {
  padding: 20px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  #section-1 .p-footer__inner {
    padding: 20px 0;
  }
}

#section-1 .p-footer__inner strong {
  color: #574600;
  font-weight: normal;
  letter-spacing: .1rem;
}

#section-1 [data-structure="e-text"] > span {
  font-weight: 400;
}

/* 1.breakpoint */
/*================================================
template_1-1 nav [data-block-name="左画像+右メニュー（上部固定）"]
================================================*/
[data-block-name="左画像+右メニュー（上部固定）"] {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}

[data-block-name="左画像+右メニュー（上部固定）"] .grid-wrapper--lg {
  max-width: 100%;
}

[data-block-name="左画像+右メニュー（上部固定）"] .p-header, [data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigation {
  background-color: rgba(0, 0, 0, 0);
}

[data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigationMenu li + li {
  margin-left: 0;
}

@media screen and (max-width: 680px) {
  [data-block-name="左画像+右メニュー（上部固定）"] .p-m_navigation {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

[data-block-name="左画像+右メニュー（上部固定）"] .p-navigation .c-inner {
  padding: 10px 0;
}

@media screen and (max-width: 680px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li {
    margin-right: 0;
  }
}

[data-block-name="左画像+右メニュー（上部固定）"] li a {
  text-decoration: none;
  transition: all .3s;
  padding: 20px;
  border-left: 1px solid #f3f3f3;
}

@media screen and (max-width: 680px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li a {
    padding: 20px;
    border-left: none;
  }
}

[data-block-name="左画像+右メニュー（上部固定）"] li a:hover {
  background-color: #ece5c7;
  text-decoration: none;
}

@media screen and (min-width: 681px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a {
    padding: 10px 20px;
    border-right: 1px solid #fff;
    background-color: #cc9c00;
    text-decoration: auto;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
  }
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a:hover {
    opacity: .5;
  }
}

@media screen and (max-width: 680px) {
  [data-block-name="左画像+右メニュー（上部固定）"] li:last-of-type a {
    background-color: #cc9c00;
    color: #fff;
  }
}

@media screen and (min-width: 681px) {
  [data-block-name="左画像+右メニュー（上部固定）"].header_scrollset {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) and (max-width: 1166px) {
  .p-m_navigationMenu li a {
    padding: 3px .8vw;
    font-size: 1.4vw;
  }
  .p-header__logo > img {
    max-height: 35px;
  }
  .m_navigationMenu {
    padding-right: 10vw;
  }
  .p-m_navigationMenu li:last-of-type a {
    padding: 1.2vw;
  }
}

@media only screen and (min-width: 1px) and (max-width: 480px) {
  .p-header__logo > a > img, .p-header__logo > img {
    max-height: 34px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 480px) {
  .p-header__logo > a > img, .p-header__logo > img {
    max-height: 34px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
  .p-header__nav-heading {
    padding: 0;
  }
}

/* TOPページ編集--------------------------------------------- */
/* h1タグ部分 */
#section-4 h1 {
  color: white;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .15rem;
  margin-top: 10px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  #section-4 h1 {
    font-size: 10px;
  }
}

#section-4 .c-wrapper {
  margin-left: 20px;
}

#section-4 .c-inner--lg {
  padding: 20px 40px 20px;
}

@media screen and (max-width: 768px) {
  #section-4 .c-inner--lg {
    padding: 40px 40px 20px;
  }
}

/* メインビジュアル */
#section-2 {
  margin-top: -32px;
}

#section-2 .c-bg-img {
  height: 305px;
}

#section-2 .c-heading--bdr-btm {
  border-bottom: none;
}

#section-2 .p-heading__inner {
  padding-top: 0px;
  padding-bottom: 0px;
}

#section-2 .c-bg-img {
  position: relative;
  z-index: -1;
}

#section-2 .c-wrapper {
  z-index: 0;
}

#section-2 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 0.09em;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #section-2 h2 {
    top: 55%;
  }
}

#section-2 [data-custom-pc-fontsize="32px"]span:first-of-type {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
}

#section-2 [data-custom-pc-fontsize="18px"] {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .15rem;
}

#section-2 h2 > div {
  line-height: 35px;
}

/* ぐいっと×ペライチ */
#section-6 [data-structure="e-text"] {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #section-6 .c-wrapper--no-gutter {
    width: auto;
  }
}

/* 各LP画像 */
#section-3 .col-xs-12 {
  display: flex;
  justify-content: space-between;
}

#section-3 [data-structure="m-card"] {
  flex-direction: column;
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
}

#section-3 .c-inner--lg {
  max-width: 1450px;
  padding: 20px 0px 20px;
}

@media screen and (max-width: 768px) {
  #section-3 .c-inner--lg {
    padding: 10px 0px 20px;
  }
}

#section-3 .c-bg-img--cover {
  background-size: 100% 100vh !important;
  background-repeat: repeat !important;
}

@media screen and (max-width: 768px) {
  #section-3 .c-wrapper {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

#section-3 .c-img--responsive {
  position: relative;
}

#section-3 .c-img--responsive:hover:after, #section-3 .c-img--responsive:hover:before {
  position: absolute;
  transition: all .3s;
}

#section-3 .c-img--responsive:hover:after {
  content: 'View More';
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 0.09em;
  font-weight: bold;
  padding: 5px 25px;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 1px solid #fff;
  z-index: 11;
  transform: translate3d(-50%, -50%, 0);
}

@media screen and (max-width: 768px) {
  #section-3 .c-img--responsive:hover:after {
    line-height: 18px;
  }
}

#section-3 .c-img--responsive:hover:before {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  content: '';
}

#section-3 .c-img--responsive:hover img {
  z-index: 2;
  opacity: 0.6;
}

#section-3 .c-img--responsive img {
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 100% 0;
}

@media screen and (max-width: 768px) {
  #section-3 .c-img--responsive img {
    object-fit: contain;
    height: auto;
  }
}

#section-3 .center-xs {
  justify-content: flex-start !important;
}

#section-3 .c-heading--sm {
  padding: 25px 10px 0 10px;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  #section-3 .c-heading--sm {
    padding: 25px 10px 0 10px;
  }
}

#section-3 .u-mbmd:nth-of-type(2) .c-heading--sm {
  padding: 25px 10px 54px 10px;
}

@media screen and (max-width: 768px) {
  #section-3 .u-mbmd:nth-of-type(2) .c-heading--sm {
    padding: 25px 10px 20px 10px;
  }
}

#section-3 .u-mbmd:nth-of-type(14) .c-heading--sm {
  padding: 25px 10px 54px 10px;
}

@media screen and (max-width: 768px) {
  #section-3 .u-mbmd:nth-of-type(14) .c-heading--sm {
    padding: 25px 10px 20px 10px;
  }
}

#section-3 [data-custom-pc-fontsize="14px"] {
  font-weight: bold;
}

#section-3 [data-custom-pc-fontsize="14px"] > a {
  line-height: 30px;
}

#section-3 .u-mbsm {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #section-3 .u-mbsm {
    min-height: 65px;
  }
}

#section-3 .u-mbmd {
  margin-bottom: 20px;
}

#section-3 .c-btn {
  padding: 8px 10px 20px 10px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  #section-3 .c-btn {
    margin-bottom: 0px;
  }
}

#section-3 .u-mbmd:nth-of-type(2) .c-btn {
  padding: 0px;
  margin-bottom: 0px;
}

#section-3 .u-mbmd:nth-of-type(14) .c-btn {
  padding: 0px;
  margin-bottom: 0px;
}

#section-3 .center-xs {
  text-align: left;
}

#section-3 .c-btn--sm a {
  border-radius: 20px;
  background-color: #ecebe3 !important;
  color: #4d4d4d;
  font-weight: bold;
  position: relative;
  padding: 0.8em 2.8em 0.8em 1.8em;
}

@media screen and (max-width: 768px) {
  #section-3 .c-btn--sm a {
    padding: 0.8em 3em 0.8em 1.8em;
  }
}

#section-3 .c-btn--sm a:after {
  position: absolute;
  content: url(https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/5cef2a43-42a0-45a3-8097-24750a0000fe/img/5f28fb0f3bac0/original.png);
  top: 29%;
  right: 2%;
  z-index: 1;
  width: 30%;
}

@media screen and (max-width: 768px) {
  #section-3 .c-btn--sm a:after {
    top: 28%;
    right: 1%;
  }
}

#section-3 .u-mbmd:nth-of-type(2) .c-btn--sm a {
  display: none;
}

#section-3 .u-mbmd:nth-of-type(14) .c-btn--sm a {
  display: none;
}

@media screen and (max-width: 768px) {
  #section-3 .col-xs-12 {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
  #section-3 .row-item-gutter--lg > [class*='col-'] {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #section-3 .row-item-gutter--lg {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 768px) {
  #section-3 .grid-wrapper--full {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
